server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://60.245.209.102:13306/datacenter
    username: root
    password: Oncedi@2020
  application:
    name: api-service
  mvc:
    servlet:
      load-on-startup: 1
  jpa:
    open-in-view: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:9000/eureka/

mybatis-plus:
  global-config:
    db-config:
      id-type: auto

mybatis:
  # mapper对应xml文件
  mapper-locations: classpath:mapper/*.xml
  # 绑定实体类
  type-aliases-package: com.iscas.apiservice.pojo
  configuration:
    map-underscore-to-camel-case: true

springdoc:
  group-configs:
    - group: 数据中台
      packages-to-scan: com.iscas.apiservice.controller

knife4j:
  enable: true
  setting:
    language: zh_cn